@media (max-width: 1300px) {
    .container {
        margin: 0px 40px !important;
    }
}

.arrowimg {
    width: 24px;
    height: 24px;
    position: absolute;
    left: -36px;
    top: 46px;
    cursor: pointer;
}

.loadingcamera {
    height: 400px;
    width: 600px;
    background-image: url(../../../assets/load.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.divloadingcamera {
    width: 480px;
    height: 320px;
}

.creargifosInstrucciones {
    margin: 0px auto;
    width: fit-content;
    margin-bottom: 150px;
}

.nocameraAlert {
    display: none;
}

.div-instrucciones {
    padding: 30px 36px 30px 73px;
    position: relative;
}

.instrucciones {
    max-width: 518px;
}

h3 {
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
}

.window-img {
    position: absolute;
    left: 24px;
}

br {
    height: 10px;
}

.instrucciones h4 {
    width: 100%;
}

.h4-instrucciones {
    line-height: 30px;
    margin-top: 5px;
}

.number {
    font-weight: 700;
}

.cursiva {
    font-weight: bold;
}

video {
    margin: 0px;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    background-image: url(../../../assets/load.gif);
    background-position: center;
    background-repeat: no-repeat;
}

#recordedvideo {
    min-width: 480px;
}

.crear-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    height: 36px;
    width: 100%;
}

.crear-buttons button:hover,
.guifouploaded button:hover,
button#listo:hover,
.guifouploaded button:hover,
.theme-texwrapper:hover,
.active {
    outline: 1.5px dotted #110038;
    outline-offset: -3px;
}

.crear-buttons button,
.guifouploaded button,
button#listo {
    cursor: pointer;
    height: 100%;
    margin-left: 16px;
    width: 144px;
    height: 36px;
    font-size: 16px;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.guifouploaded {
    padding: 40px 12px 0px 24px;
    display: none;
    width: 270px;
    position: relative;
}

.guifouploaded button {
    width: 100%;
    margin-left: 0px;
    margin-top: 16px;
    display: inline-block;
}

.guifouploaded h3 {
    display: inline-block;
}

.guifouploaded #copied {
    color: rgb(0, 85, 14);
    width: 170px;
    display: inline-block;
    position: absolute;
    top: 175px;
    left: 50px;
    display: none;
}

button#comenzar,
button#subir,
button#listo {
    background-color: var(--button-background);
    color: var(--buttons-text-color);
}

.camerabutton {
    display: none;
    justify-content: end;
    margin: 0px;
}

.camerabutton button {
    background-color: var(--button-background);
    color: var(--buttons-text-color);
}

.camerabutton .img {
    width: 36px;
    background: var(--button-background) url(./../assets/camera.svg) center no-repeat;
}

button.capturar,
button.recording {
    margin: 0px;
}

.readybutton {
    display: none;
    justify-content: end;
    margin: 0px;
}

.readybutton button {
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    color: #FFFFFF;
}

.readybutton .img {
    background: #FF6161 url(./../assets/recording.svg) center no-repeat;
    width: 36px;
}

.twobuttons2 {
    display: none;
}


/* titulo y cruz */

.box-title-container img {
    display: none;
    margin-right: 13px;
    cursor: pointer;
}

.box-title-container.flex {
    display: flex;
    justify-content: space-between;
}

.timer {
    display: none;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.timer label {
    font-size: 17px;
    font-weight: 500;
}


/*  */

.whenrecording {
    width: 100%;
    padding: 12px;
}

.fitcontent {
    width: fit-content;
}

button#abortPostButton {
    display: none;
}

.uploadingGuifo {
    background-color: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
}

.uploadingGuifo h3 {
    margin-bottom: 25px;
}

.uploadingGuifo>img {
    width: 30px;
    height: 38px;
    margin-bottom: 10px;
}

.tiemporestante {
    margin-top: 12px;
    font-size: 12px;
    color: rgba(17, 0, 56, 0.64);
    letter-spacing: 0;
    display: inline-block;
    line-height: 14px;
}

button#listo {
    position: absolute;
    bottom: 12px;
    right: 12px;
}


/*  */

.misguifos-section {
    justify-content: center;
}